@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.navbar{
    line-height: 7vh;
    height: 7vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0 10px 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
    background-color:#ded7e9;
}
.asc{
    font-size: 50px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.nav-links li{
    list-style: none;
    position: relative;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

}

a{    text-decoration: none; 

}
.cont li a {
    
    text-decoration: none; 
    transition: all 0.3s ease-in-out;
    color: #263238;
    font-size: 20px;
    font-weight: 600;
 
}

.cont li a:hover{
    color: #c0b7dc;
}

.cont li a:hover::after{
    content: "";
    width: 40%;
    height: 3px;
    background: #c0b7dc;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.cont button {
    background-color: #263238;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cont button a{
    color: azure;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.cont button a:hover{
    color: #ded7e9;
}
/* .ul li {
    padding:  32px;
    width: 100%;
    transition: all 0.5 ease-in-out;
    text-align: center;
} */